# -*- coding: utf-8 -*-
#
# This file is part of CERN Service XML
# Copyright (C) 2015 CERN.
#
# CERN Service XML is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.


language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"

install:
  - pip install coveralls pep257 Sphinx
  - pip install pytest pytest-pep8 pytest-cov pytest-cache
  - pip install -e .

script:
  - pep257 cernservicexml
  - "sphinx-build -qnNW docs docs/_build/html"
  - python setup.py test

after_success:
  - coveralls

notifications:
  email: false
